<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css"> 
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>This is help page</h1>
            <h2>{{location}} weather is {{temprature}} </h2>
            {{>footer}}
        </div>
    </body>
    <script src="./js/app.js"></script>
</html>