<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h1>{{name}} coming soon...</h1>
        </div>
        {{>footer}}
    </body>
    

    <script src="../public/js/app.js" />
</html>